

/* Home */

#hackomania-title{
    margin: 20px;
    padding: 5px;
}


#hackomania-title > h1{
    font-family: 'liger';
    font-size: 3rem;
    text-align: center;
}

#hackomania-description{
    margin: 20px 5px;
    padding: 10px 25px;
}

#register{
    margin: 10px;
    padding: 20px;
}

.register-btn{
    font-family: 'mars'; 
    border-radius: 20px;
    padding: 10px;
}

/* .timer-div{
    text-align: center;
} */

#timer{
    border: 2px solid blue;
    display: inline-block;
    padding: 25px;
    margin: 10px 25px;
    border-radius: 20px;
}

.right-home{
    text-align: center;
}

.card-div{
    width: 360px;
    border: 2px solid blue;
    margin: 20px 5px;
    padding: 10px;
    border-radius: 20px;
}

/* Agenda */
.agenda-heading{
    margin: 20px;
    padding: 20px;
}

/* Contact Section */
.container-fluid-local{
    padding: 5% 15% 3%;
}

.contact-heading{
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.fa{
    padding: 10px;
}

.address, .phone, .email{
    padding: 15px 7px;
}

.pset{
    padding-left: 45px;
}

.forms{
    margin-top: 20px;
    padding: 7% 5%;
    background-color: #343A40;
    color: #FFFFFFBF;
}

.forms h3{
    text-align: center;
}

#EmailBtn{
    font-weight: bold;
    border-radius: 7%;
    border: none;
}

#EmailBtn:hover{
    color: #FFFFFFBF;
    background-color: #343A40;
}

.social{
    padding: 7% 15% 5%;
    text-align: center;
}

.social a{
    color: #FF2E63;
}

.social a:hover{
    color: #08D9D6;
}